/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. vi tri
2.kich thuoc (width, height)
3.mau sac
4.kieu dang (Kieu chu, hinh vuong, tron,...)
*/

#main{

}

.btn{
    margin-bottom:16px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color: black;
}

.pull-right{
    float: right !important; 
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50% !important;
}

.col-full{
    width: 100% !important;
}

.col-third{
    width: 33.3333333% !important;
}

.text-white{
    color: white !important;
}

.text-center{
    text-align: center !important
}

.clear{
    clear: both;
}

#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 46px;
    background-color: black;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav .arrow-down{
    font-size: 12px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    color: white;
    line-height: 46px;
    padding: 0 23px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
    color: black;
}

#nav > li > a{
    text-transform: uppercase;
    color: white;
}

#nav li a{
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav .subnav li:hover{
    background-color: #ccc;
    color: #000;
}

#nav li:hover .subnav{
    display: block;
}
#nav .subnav li{
    width: 100%;
}

#nav .subnav{
    box-shadow: 0px 0px 80px rgba(0,0,0, 0.3) ;
}

#nav .subnav{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    display: none;
    background-color: white;
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(/assets/img/slider/chicago.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slider .text-content{
    position: absolute;
    text-align: center;
    bottom: 47px;
    width: 100%;
    color: white;
}

#slider .text-content .text-heading{
    font-size: 24px;
    font-weight: 400;
    padding: 25px;
}

#slider .text-content .text-description{
    font-size: 15px;
    line-height: 1.5;
}

#content{
    
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-section .heading-section{
    text-align: center;
    letter-spacing: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
}

#content .content-section .sub-heading-section{
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
    line-height: 1.5;
}

#content .content-section .about-text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}

#content .members-list{
    margin-top: 31px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .member-name{
    font-size: 15px;
}

.tour-book{
    background-color: black;
}

.tour-book .ticket-place{
    background-color: white;
    color: #757575;
    font-size: 15px;
    list-style: none;
}

.sold-out{
    background-color: rgb(244,67,54);
    color: white;
    padding: 3px 5px;
    font-size: 15px;
    margin-left: 16px;
}

.ticket-place{
    margin-top: 38px;
}

.ticket-place li{
    padding: 8px 16px;
    line-height: 22.5px;
    border-bottom: solid 1px rgb(211,211,211);
}

.ticket-left{
    float: right;
    background-color: black;
    color: white;
    padding: 0 8px;
    border-radius: 50%;
    line-height: 22px;
    margin-right: 16px;
    width: 24px;
    text-align: center;
}


.place-list{
    padding-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: white;
    padding: 0  16px;
    font-size: 15px;
}

.place-heading{
    padding: 15px 0;
    font-weight: 700;
    font-size: 15px;
}

.place-time{
    opacity: 0.6;
}

.place-desc{
    margin: 15px 0;
    line-height: 1.5;
}


.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
}

.modal .modal-container{
    width: 900px;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadein ease 0.6s;
}

.modal .modal-header{
    height: 130px;
    background-color: rgb(0, 150 , 136);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal .modal-heading-icon{
    margin-right: 16px;
}

.modal-body{
    padding: 16px;
}

.modal-input {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    margin-bottom: 24px;
}

.modal-label{
    display: block;
    margin-bottom: 12px;
}

#buy-tickets{
    background-color: rgb(0, 150 , 136);
    width: 100%;
    border: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 18px;
}

#buy-tickets:hover{
    opacity: 0.9;
    color: black;
    cursor: pointer;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color:#2196F3
}

@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-200px)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

/* contact form */
.contact-content{
    margin-top: 47px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a{
    color: #0055f2;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.contact-info p i{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img{
    width: 100%;
    filter: grayscale(50%)
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    opacity: 0.4;
}

#footer .copyright{
    color: rgba(0,0,0,0.6);
    margin-top: 15px;
}

#footer .copyright a{
    color: rgba(0,0,0,0.6)
}

